<footer>
<ul class="nav">
<li class="nav-item">
  <a class="nav-link" href="#">Mentions légales</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Politique de confidentialité</a>
</li>

</ul>
</footer>
