<form class="form-signin" action="/signin" method="POST">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="username" placeholder="Nom*" required><br>
        <input type="text" class="form-control" name="surname" placeholder="Prenom"><br>
        <input type="email" class="form-control" name="email" placeholder="Email" ><br>
        <input type="password" class="form-control" name="password" placeholder="Mot de passe*" required><br>
    </div>
    <div class="form-group">
      <label for="metier-hypnose">Métier en lien avec l'hypnose</label>
      <select class="form-control" id="metier-hypnose">
        <option>Hypnotiseur de spectacle</option>
        <option>Praticien en hypnose</option>
        <option>Profession médicale hypnotiseur</option>
        <option>Auxilliaire médicaux hypnotiseur</option>
        <option>Autre thérapie avec hypnose</option>
        <option>Pas concerné</option>

      </select>
    </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="CheckRPGD">
        <label class="form-check-label" for="exampleCheck1">En vous enregistrant, vous acceptez la politique de confidentialité que vous pouvez retrouver ici.(lien)</label>
      </div>
  <button type="submit" class="btn btn-primary">S'enregistrer</button>
</form>
