<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Bienvenu sur la Base Autonome Hypnotique Durable !</h1>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
      <img src="img/chat.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">
          <h4>Melimelo</h4>
          <p>Hypno tout terrain</p>
        </p>
        <span class="fa fa-user"></span>
        <span class="fa fa-envelope-o"></span>
      </div>
    </div>
    </div>
  </div>


  </div>
</div>
