<div class="row">
<div class="col-sm-4">
<div class="card">
<img src="img/livres.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Le corps n'oublie rien</h5>
<p class="card-text">Article à positionner dans la Bibliothèque</p>
<div class="d-flex justify-content-between align-items-center">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
  </div>
  <small class="text-muted">9 mins</small>
</div>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
<img src="img/forum.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Témoignage Meli</h5>
<p class="card-text">Témoignage à mettre sur le forum</p>
<div class="d-flex justify-content-between align-items-center">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
  </div>
  <small class="text-muted">9 mins</small>
</div>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
<img src="img/jeu.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Hypnose ludique</h5>
<p class="card-text">Article à mettre dans hypnose ludique</p>
<div class="d-flex justify-content-between align-items-center">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
  </div>
  <small class="text-muted">9 mins</small>
</div>
</div>
</div>
</div>
</div>
